@model CentManagerment.BU.DTO.ClassDTO

@{
    ViewBag.Title = "Thêm khóa học";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Insert", "ClassManagerment", FormMethod.Post, new { id = "myForm" }))
{
    @Html.AntiForgeryToken()

    <section class="nhanvien-chinhsua" id="nhanvien-chinhsua">
        <div class="nhanvien-chinhsua__header">
            <h2>Thêm khóa học</h2>
        </div>
        <div class="nhanvien-chinhsua__content">
            <form id="nv-add" action="">
                <div class="form-group nhanvien-chinhsua__input">
                    <label class="fleft">Tên lớp</label>
                    <div class="input-box fleft">
                        <input class="form-control" type="text" placeholder="Please enter your class name (ABC)" ng-model="f.ClassName" name="ClassName" required />
                    </div>
                    <div ng-show="!f.ClassName">
                        <div style="color:red;    padding-left: 239px;">Please enter you class name</div>
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="form-group nhanvien-chinhsua__input">
                    <label class="fleft">Số học sinh</label>
                    <div class="input-box fleft">
                        <input class="form-control" type="number" ng-model="ClassAmountStudent" placeholder="Please enter your class amount (12)" name="ClassAmountStudent" required />
                    </div>
                    <div ng-show="!f.ClassAmountStudent">
                        <div style="color:red;    padding-left: 239px;">Please enter you class amount (just number)</div>
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="form-group nhanvien-chinhsua__input">
                    <label class="fleft">Tên khóa học</label>
                    <div class="input-box fleft">
                        @Html.DropDownList("CourseName", (IEnumerable<SelectListItem>)ViewBag.CourseName, "-- Chọn tên khóa học --", new { @class = "form-control", @id = "courseId" })
                    </div>
                    <div class="clear-fix"></div>
                </div>
                        <input class="form-control" type="text" name="ClassCourseId" value="" id="Id" ng-hide="1"/>
                <div class="form-group nhanvien-chinhsua__input">
                    <label class="fleft">Thời gian bắt đầu</label>
                    <div class="input-box fleft">
                        <input class="form-control" type="text" placeholder="Start Date" name="" value="" id="courseStartDate" readonly/>
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="form-group nhanvien-chinhsua__input">
                    <label class="fleft">Thời gian kết thúc</label>
                    <div class="input-box fleft">
                        <input class="form-control" type="text" placeholder="End Date" name="" value="" id="courseEndDate" readonly/>
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="form-group nhanvien-chinhsua__input">
                    <label class="fleft">Học phí</label>
                    <div class="input-box fleft">
                        <input class="form-control" type="text" placeholder="Course price" name="" value="" id="coursePrice" readonly/>
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="nhanvien-chinhsua__btn">
                    <button ng-disabled="!f" class="btn btn-primary btn--luu" type="submit" >Thêm lớp học</button>
                    <button class="btn btn-primary btn--xoa" type="submit">@Html.ActionLink("Hủy", "Index")</button>
                </div>
            </form>
        </div>
    </section>
}

