
@{
    ViewBag.Title = "Quản lý thời gian";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var soThuTu = 0;

}

<div class="content-header content-header-wrap">
    <h1 class="fleft">Quản lý giáo viên</h1><a class="btn--primary__edit btn--add" href="/Admin/TeacherManagerment/AddTeacher">Thêm mới</a>
    <div class="clearfix"></div>
</div>
<br />
<section class="giaovien" id="giaovien">
    <div class="list-rent__content section-table table-extend">
        <div class="form-group nhanvien-chinhsua__input">
            <div class="input-box fleft teacherchoose">
                @Html.DropDownList("TeacherSearch", (IEnumerable<SelectListItem>)ViewBag.listTeacher, "-- Chọn tên giáo viên --", new { @class = "form-control", @id = "teacherId" })
            </div>
            <!-- Button trigger modal -->
            <div>
                <button type="button" class="btn btn-primary btnaddtw" data-toggle="modal" data-target="#exampleModalCenter" id="myModal">
                    Thêm giờ làm việc
                </button>
            </div>

            <div class="clear-fix"></div>
        </div>
        <table>
            <tr>
                <th>STT</th>
                <th>TG dạy(h)</th>
                <th>Giờ BĐ</th>
                <th>Giờ KT</th>
                <th>Ngày</th>
                <th>Tùy chọn</th>
            </tr>
            <tbody id="tbodytimework">
            </tbody>
        </table>
    </div>
</section>



<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="CreateTimeWork">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thêm giờ làm việc cho giáo viên</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding-bottom: 25px;">
                    <div class="row timework">
                        <div class="col-lg-4 twname" style="text-align: right;line-height: 34px;">
                            Thời gian bắt đầu:
                        </div>
                        <div class="col-lg-8 twval"><input type="datetime-local" name="TimeIn" value="" id="datevalin" class="form-control" required /></div>
                    </div>
                    <div class="row timework">
                        <div class="col-lg-4 twname" style="text-align: right;line-height: 34px;">
                            Thời gian kết thúc:
                        </div>
                        <div class="col-lg-8 twval"><input type="datetime-local" name="TimeOut" value="" id="datevalout" class="form-control" required /></div>
                    </div>
                    <div class="row nameteacher">
                        <div class="col-lg-4 twname" style="text-align: right;">
                            Tên giáo viên:
                        </div>
                        <div class="col-lg-8 twval">
                            @Html.DropDownList("TeacherAddTW", (IEnumerable<SelectListItem>)ViewBag.listTeacher, "-- Chọn tên giáo viên --", new { @class = "form-control", @id = "tearcheridaddtw", @required= "required" })

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary" id="addtw">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>
