<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Nhật Ngữ 3 Chàng Ngốc</title>
    <link href="~/Assets/client/logo/LOGO.png" rel="shortcut icon" type="image/png" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!--
    CSS
    ============================================= -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/client/css/linearicons.css" rel="stylesheet" />
    <link href="~/Assets/client/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/client/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/client/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Assets/client/css/nice-select.css" rel="stylesheet" />
    <link href="~/Assets/client/css/animate.min.css" rel="stylesheet" />
    <link href="~/Assets/client/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Assets/client/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Assets/client/css/main.css" rel="stylesheet" />
    <link href="~/Assets/client/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/client/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Assets/client/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Assets/client/css/main.css">
    <link href="~/Scripts/style.css" rel="stylesheet" />
    <link href="~/Scripts/About.css" rel="stylesheet" />
    @*css new*@
    <link href="~/Assets/client/css/style.css" rel="stylesheet" />
    <link href="~/Assets/client/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Assets/client/css/res.css" rel="stylesheet" />
    @*-- about css *@
</head>
<body ng-app="">
    <header class="header" id="header" style="padding: 15px 0 !important; position:unset !important;">
        <div class="container_1140">
            <div class="header__wrap">
                <div class="header__logo"><a href="https://www.facebook.com/nhatngu3changngoc/"><img src="~/Assets/client/logo/LOGO.png" alt="logo" /></a></div>
                <div class="header__menu">
                    <nav>
                        <div class="icon__btn"><i class="fas fa-bars"></i></div>
                        <ul class="sub__menu">
                            <li><a href="/Home/Index">Trang chủ</a></li>
                            <li><a href="/Home/About">Giới thiệu</a></li>
                            <li>
                                <a href="/Home/AnhHoatDong">Khóa học</a>
                                <ul>
                                    <li><a href="#">Online</a></li>
                                    <li><a href="/Home/CourseOffline/20">Khóa học N5</a></li>
                                    <li><a href="/Home/CourseOffline/21">Khóa học N4</a></li>
                                    <li><a href="/Home/CourseOffline/22">Khóa học N3</a></li>
                                    <li><a href="/Home/CourseOffline/18">N4 + N3 Combo</a></li>
                                    <li><a href="/Home/CourseOffline/19">N3 + N2 Combo</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="hocTap.html">Góc học tập</a>
                                <ul>
                                    <li><a href="/Home/News">Kiến thức</a></li>
                                    <li><a href="/Home/Knowledge">Tài liệu</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Du học</a>
                                <ul>
                                    <li><a href="/Home/DanhSachTruong">Danh sách trường</a></li>
                                    <li><a href="/Home/KinhNghiem">Kinh nghiệm</a></li>  
                                </ul>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>
                                <ul>
                                    <li><a href="/Home/AnhHoatDong">Ảnh hoạt động</a></li>
                                    <li><a href="/Home/NhacNhat">Nhạc Nhật</a></li>
                                    <li><a href="/Home/News">Tin tức</a></li>
                                </ul>
                            </li>
                            <li><a href="/Home/Contact">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="clear-fix"></div>
            </div>
        </div>
    </header><!-- #header -->
    <!-- start banner Area -->
    <!-- End banner Area -->
    <!-- Start feature Area -->
    <!-- End feature Area -->
    @RenderBody()


    <!-- start footer Area -->
    <footer class="footer" id="footer">
        <!--modal register form  -->
        <button type="button" class="btn btn-primary register-fix" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-phone" style="font-size:40px;line-height: 50px;"></i></button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:black">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Đăng ký ngay</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
                            <!-- NAME -->
                            <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                                <label>Họ tên*</label>
                                <input type="text" name="name" class="form-control" ng-model="user.name" required>
                                <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Your name is required.</p>
                            </div>

                            <!-- USERNAME -->
                            <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                                <label>Số điện thoại*</label>
                                <input type="number" name="phone" class="form-control" ng-model="user.sdt" ng-minlength="7" ng-maxlength="11">
                                <p ng-show="userForm.phone.$error.minlength" class="help-block" style="color:red">Số điện thoại quá ngắn.</p>
                                <p ng-show="userForm.phone.$error.maxlength" class="help-block" style="color:red">Đây không phải kiểu số điện thoại!</p>
                            </div>

                            <!-- EMAIL -->
                            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                                <label>Email</label>
                                <input type="email" name="email" class="form-control" ng-model="user.email">
                                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Khóa học:</label>
                                <select class="form-control" id="message-text">
                                    <option selected>N5</option>
                                    <option>N4</option>
                                    <option>N3</option>
                                    <option>N2</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Message:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <input type="submit" value="Đăng ký ngay!" class="btn-submit btn btn-primary" name="submit" data-toggle="modal" ng-disabled="!user.name || !user.sdt" data-dismiss="modal" href="#myModal2">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--thank you modal-->

        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Đăng ký thành công!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Thank you for register!
                    </div>
                </div>
            </div>
        </div>

        <div class="container_1140">
            <div class="footer__content">
                <div class="footer__box">
                    <h4>Nhật ngữ 3 chàng ngốc</h4>
                    <p></p>
                    <p>Địa chỉ: Số 140 Cầu Diễn,Nam Từ Liêm , Hà Nội</p>
                    <p>
                        Hotline: 097 515 96 72 & 096 621 80 21
                    </p>
                    <p>Email: 3changngoc678@gmail.com</p>
                </div>
                <div class="footer__box">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d930.8927523432953!2d105.7405969!3d21.0498443!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134558ccbbba3b3%3A0x34d192032d5e2825!2zTmjhuq10IE5n4buvIDMgQ2jDoG5nIE5n4buRYw!5e0!3m2!1svi!2s!4v1545799495696" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

                </div>
                <div class="footer__box">
                    <div id="fb-root">
                        <div class="fb-page"
                             data-tabs="timeline,events,messages"
                             data-href="https://www.facebook.com/nhatngu3changngoc"
                             data-width="380"
                             data-height="350"
                             data-hide-cover="false"></div>
                    </div>
                </div>
                <div class="clear-fix"></div>
            </div>
        </div>
    </footer>
    <div class="fb-livechat"> <div class="ctrlq fb-overlay"></div><div class="fb-widget"> <div class="ctrlq fb-close"></div><div class="fb-page" data-href="https://www.facebook.com/nhatngu3changngoc" data-tabs="messages" data-width="360" data-height="400" data-small-header="true" data-hide-cover="true" data-show-facepile="false"> </div><div class="fb-credit"> <a href="https://fb.com/dunghorn.net" target="_blank">Powered by Dũng horn</a> </div><div id="fb-root"></div></div><a href="https://m.me/sakinihongo" title="Gửi tin nhắn cho chúng tôi qua Facebook" class="ctrlq fb-button"> <div class="bubble">1</div><div class="bubble-msg">Bạn cần hỗ trợ?</div></a></div>
    <script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>$(document).ready(function () { function detectmob() { if (navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i)) { return true; } else { return false; } } var t = { delay: 125, overlay: $(".fb-overlay"), widget: $(".fb-widget"), button: $(".fb-button") }; setTimeout(function () { $("div.fb-livechat").fadeIn() }, 8 * t.delay); if (!detectmob()) { $(".ctrlq").on("click", function (e) { e.preventDefault(), t.overlay.is(":visible") ? (t.overlay.fadeOut(t.delay), t.widget.stop().animate({ bottom: 0, opacity: 0 }, 2 * t.delay, function () { $(this).hide("slow"), t.button.show() })) : t.button.fadeOut("medium", function () { t.widget.stop().show().animate({ bottom: "30px", opacity: 1 }, 2 * t.delay), t.overlay.fadeIn(t.delay) }) }) } });</script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2"></script>
    <!-- End footer Area -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="~/Scripts/js/core.js"></script>
    <script src="~/Assets/client/js/vendor/jquery-2.2.4.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>*@
    <script src="~/Assets/client/js/vendor/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/Assets/client/js/easing.min.js"></script>
    <script src="~/Assets/client/js/hoverIntent.js"></script>
    <script src="~/Assets/client/js/superfish.min.js"></script>
    <script src="~/Assets/client/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Assets/client/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/client/js/jquery.tabs.min.js"></script>
    <script src="~/Assets/client/js/jquery.nice-select.min.js"></script>
    <script src="~/Assets/client/js/owl.carousel.min.js"></script>
    <script src="~/Assets/client/js/mail-script.js"></script>
    <script src="~/Assets/client/js/main.js"></script>
    <script src="~/Assets/client/js/script.js"></script>
</body>
</html>