@{
    ViewBag.Title = "About";
}
<div class="home__banner" style="background:white"> <a href="https://www.facebook.com/nhatngu3changngoc/">
    <img src="~/Assets/client/logo/banner2.jpg" />
</a> </div>
<div class="bg-white">
    <div class="container">
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="inner">
                    <div class="title"><h2 class="text-center text-uppercase text-secondary mb-0">Nhật ngữ 3 chàng ngốc là gì ?</h2></div>
                    <br />
                    <p class="title-22" style="font-size:18px">
                        Nhật ngữ 3 chàng ngốc là trung tâm đào tạo Tiếng Nhật GIỎI TOÀN DIỆN 4 kỹ năng Nghe - Nói - Đọc - Viết đầu tiên tại Việt Nam thuộc Nhật ngữ 3 chàng ngốc với quy mô lớn nhất tại Nhổn. Nhật ngữ 3 chàng ngốc cam kết sẽ giúp bạn đạt được mục tiêu đầu ra tiếng Nhật mong muốn trong thời gian ngắn nhất .
                    </p>
                    <p class="title-22" style="font-size:18px">
                        Việc đưa đến với các bạn học viên đội ngũ giáo viên có phong cách giảng dạy lôi cuốn, chuyên môn cao, đội ngũ nhân viên phục vụ tận tình luôn sẵn sàng phục vụ giúp đỡ học viên 24/7 là những điều mà Nhật ngữ 3 chàng ngốc luôn cam kết thực hiện.
                        Chinh phục Tiếng Nhật chưa bao giờ là dễ hơn với Nhật ngữ 3 chàng ngốc.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="inner">

                    <div class="slider slider-single-image">
                        <div>
                            <img src="~/Assets/client/logo/contact.png" />
                        </div>
                        <div>
                            <img src="~/Assets/client/img/Intro/IntroImg2.png" />
                        </div>
                        <div>
                            <img src="~/Assets/client/img/Intro/IntroImg.jpg" />
                        </div>
                        <div>
                            <img src="~/Assets/client/img/Intro/Intro3.png" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@* ảnh hoạt đông more *@
<!-- View Grid Section -->
<section class="portfolio" id="portfolio" style="background:white">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Cơ sở vật chất</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="inner">
                    <a class="portfolio-item d-block mx-auto " href="#portfolio-modal-1">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fas fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Assets/client/img/study/StudyMore/View.jpg" />
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="inner">
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fas fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Assets/client/img/study/StudyMore/ViewFour.jpg" />
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="inner">
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fas fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Assets/client/img/study/StudyMore/viewThree.jpg" />
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="inner">
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fas fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Assets/client/img/study/StudyMore/ViewTwo.jpg" />
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="inner">
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fas fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Assets/client/img/study/StudyMore/ViewFire.jpg" />
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="inner">
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fas fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Assets/client/img/study/StudyMore/ViewSix.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="app-screenshot" style="padding-top:70px;padding-bottom: 30px;background:white">
    <div class="container">
        <div class="text-center">
            <h3 class="thread">Học tập</h3>
            <img src="~/Assets/client/img/sensei/100x12.png" />
        </div>
        <div class="screenshot">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <img src="~/Assets/client/img/study/anh1.JPG" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh2.JPG" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh11.JPG" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh4.JPG" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh5.JPG" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh6.jpg" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh7.JPG" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh8.JPG" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/StudyMore/Student2.jpg" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh10.JPG" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh11.JPG" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/StudyMore/StudyWithTeacher.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
@* end ảnh hoạt động *@
@* ảnh hoạt động *@
<div class="app-screenshot" style="padding-top:10px;padding-bottom: 30px;background:white">
    <div class="container">
        <div class="text-center">
        </div>
        <div class="screenshot">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <img src="~/Assets/client/img/study/StudyMore/View.jpg" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/StudyMore/kanjidual.jpg" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/StudyMore/Student1.jpg" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/StudyMore/Student2.jpg" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/StudyMore/Study.jpg" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/StudyMore/studyLitter.jpg" />
                </div>

            </div>
        </div>
    </div>
    <div class="app-screenshot" style="padding-top:10px;padding-bottom: 30px;background:white">
        <div class="container">
            <div class="text-center">
            </div>
            <div class="screenshot">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <img src="~/Assets/client/img/study/StudyMore/studyLitter.jpg" />
                    </div>
                    <div class="item">
                        <img src="~/Assets/client/img/study/StudyMore/StudyStudent.jpg" />
                    </div>
                    <div class="item">
                        <img src="~/Assets/client/img/study/StudyMore/StudyWithTakana.jpg" />
                    </div>
                    <div class="item">
                        <img src="~/Assets/client/img/study/StudyMore/kanjidual.jpg" />
                    </div>
                    <div class="item">
                        <img src="~/Assets/client/img/study/StudyMore/StudyWithTeacher.jpg" />
                    </div>
                    <div class="item">
                        <img src="~/Assets/client/img/study/StudyMore/withtakana.jpg" />
                    </div>
                    <div class="item">
                        <img src="~/Assets/client/img/study/StudyMore/View.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* end ảnh hoạt động *@

    @* Khóa học của chúng tôi *@
    <div class="pricing background-white" style="background:white;">
        <div class="container" style="padding:70px 30px">
            <div class="text-center" style="padding:20px 0">
                <h3 class="thread">CÁC KHÓA HỌC TIÊU BIỂU</h3>
                <img src="~/Assets/client/img/sensei/100x12.png" style="padding:30px 0" />
            </div>
            <div class="price">
                <div class="row">
                    <div class="col4">
                        <div class="inner">
                            <div class="price-table text-center">
                                <h4>Khóa học N5</h4>
                                <ul>
                                    <li>
                                        <p>Dịch vụ tốt</p>
                                    </li>
                                    <li>
                                        <p>Hỗ trợ 24/7</p>
                                    </li>
                                    <li>
                                        <p>Cập nhật thường xuyên</p>
                                    </li>
                                    <li>
                                        <p>Tài liệu miễn phí</p>
                                    </li>
                                    <li>
                                        <p>Giúp đỡ nhiệt tình</p>
                                    </li>
                                </ul>
                                <div class="buy" data-toggle="modal" data-target="#exampleModal"><a href="#">ĐĂNG KÝ NGAY !</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col4">
                        <div class="inner">
                            <div class="price-table text-center">
                                <h4>Khóa học N4</h4>
                                <ul>
                                    <li>
                                        <p>Dịch vụ tốt</p>
                                    </li>
                                    <li>
                                        <p>Hỗ trợ 24/7</p>
                                    </li>
                                    <li>
                                        <p>Cập nhật thường xuyên</p>
                                    </li>
                                    <li>
                                        <p>Tài liệu miễn phí</p>
                                    </li>
                                    <li>
                                        <p>Giúp đỡ nhiệt tình</p>
                                    </li>
                                </ul>
                                <div class="buy" data-toggle="modal" data-target="#exampleModal"><a href="#">ĐĂNG KÝ NGAY !</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col4">
                        <div class="inner">
                            <div class="price-table text-center">
                                <h4>Khóa học N3</h4>
                                <ul>

                                    <li>
                                        <p>Dịch vụ tốt</p>
                                    </li>
                                    <li>
                                        <p>Hỗ trợ 24/7</p>
                                    </li>
                                    <li>
                                        <p>Cập nhật thường xuyên</p>
                                    </li>
                                    <li>
                                        <p>Tài liệu miễn phí</p>
                                    </li>
                                    <li>
                                        <p>Giúp đỡ nhiệt tình</p>
                                    </li>
                                </ul>
                                <div class="buy" data-toggle="modal" data-target="#exampleModal"><a href="#">ĐĂNG KÝ NGAY !</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modals -->
<!-- Portfolio Modal 1 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Phòng số 1</h2>
                    <hr class="star-dark mb-5">
                    <img src="~/Assets/client/img/study/StudyMore/View.jpg" />
                    <p class="mb-5">

                    </p>
                    <a class="btn btn-primary btn-lg rounded-pill  portfolio-modal-dismiss" href="#">
                        <i class="fa fa-close"></i>
                        Đóng
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block  portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Phòng 2</h2>
                    <hr class="star-dark mb-5">
                    <img src="~/Assets/client/img/study/StudyMore/ViewFour.jpg" />
                    <p class="mb-5">

                    </p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss " href="#">
                        <i class="fa fa-close"></i>
                        Đóng
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss " href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Phòng 3</h2>
                    <hr class="star-dark mb-5">
                    <img src="~/Assets/client/img/study/StudyMore/viewThree.jpg" />
                    <p class="mb-5">

                    </p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss " href="#">
                        <i class="fa fa-close"></i>
                        Đóng
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss " href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Phòng 4</h2>
                    <hr class="star-dark mb-5">
                    <img src="~/Assets/client/img/study/StudyMore/ViewTwo.jpg" />
                    <p class="mb-5">

                    </p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss " href="#">
                        <i class="fa fa-close"></i>
                        Đóng
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 5 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-5">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss " href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Sảnh Chính</h2>
                    <hr class="star-dark mb-5">
                    <img src="~/Assets/client/img/study/StudyMore/ViewFire.jpg" />
                    <p class="mb-5">

                    </p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss " href="#">
                        <i class="fa fa-close"></i>
                        Đóng
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 6 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-6">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss " href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Sảnh</h2>
                    <hr class="star-dark mb-5">
                    <img src="~/Assets/client/img/study/StudyMore/ViewSix.jpg" />
                    <p class="mb-5">

                    </p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss " href="#">
                        <i class="fa fa-close"></i>
                        Đóng
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .price li:first-child {
        border-top: 1px solid #999999;
    }

    .price-table h4 {
        padding-bottom: 15px;
    }
</style>