@{
    ViewBag.Title = "About";
}

<div class="news">
    <div class="container" style="padding:50px 0">
        <div class="text-center">
            <h3 class="thread">Kinh nghiệm của các sensei</h3>
            <img src="images/100x12.png" alt="">
        </div>
        <div class="main-news">
            <div class="row">
                <div class="col6">
                    <div class="inner">
                        <img src="~/Assets/client/img/sensei/ssDung.JPG" />
                    </div>
                </div>
                <div class="col6">
                    <div class="inner">
                        <article>
                            <h4 class="news-title">Hành trình làm kỹ sư tại Nhật bản</h4>
                            <p>
                                Hiện nay Nhật Bản đang rất khát nguồn lực chất lượng cao đặc biệt là về ngành kỹ thuật do đó kỹ sư ngành kỹ thuật như xây dựng, công nghệ thông tin, điện tử,… có kiến thức chuyên môn vững sẽ là những ứng viên ưu tú được nhà tuyển dụng lựa chọn.
                                Khó khăn thứ hai khiến bạn có thể chùn bước khi chinh phục con đường du học Nhật chính là ngôn ngữ. Có lẽ bạn cũng đã nghe “đồn thổi” không ít lần rằng tiếng Nhật là một trong những ngôn ngữ khó học nhất thế giới. Và theo kinh nghiệm du học Nhật Bản thì…đúng là như vậy!
                            </p>
                            <div class="readmore" data-toggle="modal" data-target="#exampleModal">
                                <a href="#">READ MORE</a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="col6">
                    <div class="inner">
                        <article>
                            <h4 class="news-title"> Đổi đời Tiếng Nhật</h4>
                            <p>Tôi còn nhớ cách đây 6 năm, tốt nghiệp chuyên ngành cơ điện tử tại trường Đại học Công nghiệp Hà Nội. Cầm tấm bằng khá trên tay đi xin việc thực sự rất khó khăn. Đi đâu xin việc họ cũng yêu cầu kinh nghiệm.Học tiếng Nhật tôi cảm thấy đầu óc tôi nhanh nhạy hơn rất nhiều. Và điều đặc biệt là tôi đã tìm thấy cho mình cơ hội cho bản thân. Đó là khi tôi đang lang thang trên các diễn đàn để tìm các học tiếng Nhật hiệu quả. Thì vô tình tôi có đọc một bài viết về môi trương làm việc tại Nhật Bản. Tôi đã cảm thấy vô cùng thích thú. Nếu như ban đầu học tiếng Nhật chỉ là vì thích thú thì bây giờ mục tiêu học tiếng Nhật của tôi là có thể sang Nhật Bản làm việc. Thay đổi vận mệnh bản thân và gia đình tôi...</p>
                            <div class="readmore" data-toggle="modal" data-target="#exampleModal">
                                <a href="#">READ MORE</a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col6">
                    <div class="inner">
                        <img src="~/Assets/client/img/sensei/ssHong.JPG" />
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="app-screenshot">
    <div class="container">
        <div class="text-center">
            <h3 class="thread">Ảnh hoạt động</h3>
            <img src="~/Assets/client/img/sensei/100x12.png" />
        </div>
        <div class="screenshot">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <img src="~/Assets/client/img/study/anh1.JPG" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh2.JPG" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh11.JPG" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh4.JPG" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh5.JPG" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh6.jpg" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh7.JPG" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh8.JPG" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh9.JPG" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh10.JPG" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh11.JPG" />
                </div>
                <div class="item">
                    <img src="~/Assets/client/img/study/anh4.JPG" />
                </div>
            </div>
        </div>
    </div>
</div>
@* contact *@

@* end contact *@