@{
    ViewBag.Title = "Contact";
}

<section>
    <article>
        <div class="body-page" style="font-size:19px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 breadcrumb">
                    </div>
                </div>
                <div class="row contact-detail">
                    <div class="col-lg-6">
                        <form class="contact-form" action="https://saki.edu.vn/mail.php" method="POST" name='contact-form'>
                            <input type="hidden" name="_token" value="pgYD4pONX6OMEgH5wj33dObmSD047QAfcKxFwrR0">
                            <div class="row">
                                <div class="col-lg-12" style="padding-left: 15px;">
                                    <input type="text" name="title" class="form-control" placeholder="Khóa học - Lớp học">
                                    <input type="text" name="full_name" class="form-control" placeholder="Họ tên của bạn *" required>
                                    <input type="text" name="phone" class="form-control" placeholder="Số điện thoại liên hệ *" required>
                                    <input type="email" name="email" class="form-control" placeholder="Email liên hệ *" required>
                                    <textarea class="form-control" rows="3" cols="100" name="content" placeholder="Nội dung"></textarea>
                                    <input type="submit" value="Gửi thông tin" class="btn-submit" name="submit">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 contact-info">
                        <h1 class="page-title-1">
                            Trung tâm tiếng nhật Nhật ngữ 3 chàng ngốc
                        </h1>
                        <p><img src="https://saki.edu.vn/image/icon/location.png"> Địa chỉ: Số 140 Cầu Diễn,Nam Từ Liêm , Hà Nội</p>
                        <p><img src="https://saki.edu.vn/image/icon/phone.png"> Hotline: 097 515 96 72 & 096 621 80 21</p>
                        <p><img src="https://saki.edu.vn/image/icon/email.png"> Email: 3changngoc678@gmail.com</p>
                        <p><em>Điền đăng k&yacute; kh&oacute;a học</em></p>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d930.8927523432953!2d105.7405969!3d21.0498443!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134558ccbbba3b3%3A0x34d192032d5e2825!2zTmjhuq10IE5n4buvIDMgQ2jDoG5nIE5n4buRYw!5e0!3m2!1svi!2s!4v1545799495696" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </article>
</section>
