
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="home__banner" style="background:white">
    <a href="https://www.facebook.com/nhatngu3changngoc/">
        <img src="~/Assets/client/logo/Sale.jpg" />
    </a>
</div>
<div class="bg-white" style="padding:40px 0;">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Khóa học của chúng tôi</h2>
        <hr class="star-dark mb-5">
        <div class="row">

            <div class="col-xl-4 col-sm-6 col-lg-4 card">
                <div class="inner">
                    <img src="~/Assets/client/img/course/n5.png" />
                    <div class="card-body">
                        <a href="#" class="btn btn-primary stretched-link" data-toggle="modal" data-target="#exampleModal">Đăng ký ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-lg-4 card">
                <div class="inner">
                    <img src="~/Assets/client/img/course/n4.png" />
                    <div class="card-body">
                        <a href="#" class="btn btn-primary stretched-link" data-toggle="modal" data-target="#exampleModal">Đăng ký ngay</a>
                    </div>
                </div>

            </div>
            <div class="col-xl-4 col-sm-6 col-lg-4 card">
                <div class="inner">
                    <img src="~/Assets/client/img/course/n3.png" />
                    <div class="card-body">
                        <a href="#" class="btn btn-primary stretched-link" data-toggle="modal" data-target="#exampleModal">Đăng ký ngay</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-sm-6 col-lg-4 card">
                <div class="inner">
                    <img src="~/Assets/client/img/course/n2.png" />
                    <div class="card-body">
                        <a href="#" class="btn btn-primary stretched-link" data-toggle="modal" data-target="#exampleModal">Đăng ký ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-lg-4 card">
                <div class="inner">
                    <img src="~/Assets/client/img/course/n4_n5.png" />
                    <div class="card-body">
                        <a href="#" class="btn btn-primary stretched-link" data-toggle="modal" data-target="#exampleModal">Đăng ký ngay</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-6 col-lg-4 card">
                <div class="inner">
                    <img src="~/Assets/client/img/course/n5_n3.png" />
                    <div class="card-body">
                        <a href="#" class="btn btn-primary stretched-link" data-toggle="modal" data-target="#exampleModal">Đăng ký ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .card {
        border: none !important;
    }
</style>
