
@{
    ViewBag.Title = "DanhSachTruong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding:40px 0;">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Danh sách trường học tại Nhật Bản </h2>
        <hr class="star-dark mb-5">
        <div class="row">

            <div class="col-xl-4 col-sm-6 col-lg-4 bg-white">
                <div class="inner">
                    <div class="inner-card">
                        <div class="img-top">
                            <img alt="University of Tokyo" src="https://images5.content-hci.com/commimg/myhotcourses/institution/myhc_191632.jpg" class=" lazy-loaded">
                        </div>
                        <div class="title-card">
                            <h4>University of Tokyo</h4>
                            <span class="logo-school"><img width="20" height="20" src="https://images1.content-hci.com/hca-cont/img/flags/crs_flg/flgb-93.png"></span>
                            <span class="grey">Nhật Bản</span>
                        </div>
                        <div class="count-view">
                            <i class="fa fa-eye"></i>
                            <span class="caps">18248 LƯỢT XEM</span>
                        </div>
                        <p class="mt5 fleft grey">Khóa học tiếng Anh hiện có</p>
                        <p class="mt5 fleft">
                        Trường Đại học Tokyo, được thành lập năm 1990, là trường Đại học nghiên cứu đứng đầu Nhật Bản trong số 7 trường Đại học Quốc gia. Trường Khoa học và Nhân văn mang đến các...
                        </p>
                        <div class="clear-fix"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-lg-4 bg-white">
                <div class="inner">
                    <div class="inner-card">
                        <div class="img-top">
                            <img alt="Tohoku University" src="https://images3.content-hci.com/commimg/myhotcourses/institution/myhc_191630.jpg" class=" lazy-loaded">
                        </div>
                        <div class="title-card">
                            <h4>Tohoku University</h4>
                            <span class="logo-school"><img width="20" height="20" src="https://images1.content-hci.com/hca-cont/img/flags/crs_flg/flgb-93.png"></span>
                            <span class="grey">Nhật Bản</span>
                        </div>
                        <div class="count-view">
                            <i class="fa fa-eye"></i>
                            <span class="caps">8248 LƯỢT XEM</span>
                        </div>
                        <p class="mt5 fleft grey">Khóa học tiếng Anh hiện có</p>
                        <p class="mt5 fleft">
                            Đại học Tohoku là một trong 7 trường Đại học Quốc gia Nhật Bản với hơn 1600 sinh viên quốc tế đến từ 90 quốc gia. Có 3 chương trình cử nhân và một số chương trình Thạc sy tại...
                        </p>
                        <div class="clear-fix"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-lg-4 bg-white">
                <div class="inner">
                    <div class="inner-card">
                        <div class="img-top">
                            <img alt="Chiba University" src="https://images1.content-hci.com/commimg/myhotcourses/institution/myhc_191385.jpg" class=" lazy">
                        </div>
                        <div class="title-card">
                            <h4>Nagoya University</h4>
                            <span class="logo-school"><img width="20" height="20" src="https://images1.content-hci.com/hca-cont/img/flags/crs_flg/flgb-93.png"></span>
                            <span class="grey">Nhật Bản</span>
                        </div>
                        <div class="count-view">
                            <i class="fa fa-eye"></i>
                            <span class="caps">9675 LƯỢT XEM</span>
                        </div>
                        <p class="mt5 fleft grey">Khóa học tiếng Anh hiện có</p>
                        <p class="mt5 fleft">Trường Đại học Tokyo, được thành lập năm 1990, là trường Đại học nghiên cứu đứng đầu Nhật Bản trong số 7 trường Đại học Quốc gia. Trường Khoa học và Nhân văn mang đến các...</p>
                        <div class="clear-fix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-sm-6 col-lg-4 bg-white">
                <div class="inner">
                    <div class="inner-card">
                        <div class="img-top">
                            <img alt="Nagoya University" src="https://images2.content-hci.com/commimg/myhotcourses/institution/myhc_191628.jpg" class=" lazy">
                        </div>
                        <div class="title-card">
                            <h4>University of Tokyo</h4>
                            <span class="logo-school"><img width="20" height="20" src="https://images1.content-hci.com/hca-cont/img/flags/crs_flg/flgb-93.png"></span>
                            <span class="grey">Nhật Bản</span>
                        </div>
                        <div class="count-view">
                            <i class="fa fa-eye"></i>
                            <span class="caps">18248 LƯỢT XEM</span>
                        </div>
                        <p class="mt5 fleft grey">Khóa học tiếng Anh hiện có</p>
                        <p class="mt5 fleft">Trường Đại học Tokyo, được thành lập năm 1990, là trường Đại học nghiên cứu đứng đầu Nhật Bản trong số 7 trường Đại học Quốc gia. Trường Khoa học và Nhân văn mang đến các...</p>
                        <div class="clear-fix"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-lg-4 bg-white">
                <div class="inner">
                    <div class="inner-card">
                        <div class="img-top">
                            <img alt="University of Tokyo" src="https://images5.content-hci.com/commimg/myhotcourses/institution/myhc_191632.jpg" class=" lazy-loaded">
                        </div>
                        <div class="title-card">
                            <h4>Waseda University</h4>
                            <span class="logo-school"><img width="20" height="20" src="https://images1.content-hci.com/hca-cont/img/flags/crs_flg/flgb-93.png"></span>
                            <span class="grey">Nhật Bản</span>
                        </div>
                        <div class="count-view">
                            <i class="fa fa-eye"></i>
                            <span class="caps">13246 LƯỢT XEM</span>
                        </div>
                        <p class="mt5 fleft grey">Khóa học tiếng Anh hiện có</p>
                        <p class="mt5 fleft">
                            Ra đời năm 1882, Đại học Waseda là trường đại học tư nổi tiếng ở Nhật Bản, đặt chủ yếu tại Shinjuku. Có khoảng 2000 sinh viên quốc tế đang theo học tại trường. 6 trường thành...
                        </p>
                        <div class="clear-fix"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-lg-4 bg-white">
                <div class="inner">
                    <div class="inner-card">
                        <div class="img-top">
                            <img alt="Osaka University" src="https://images5.content-hci.com/commimg/myhotcourses/institution/myhc_191629.jpg" class=" lazy-loaded">
                        </div>
                        <div class="title-card">
                            <h4>Osaka University</h4>
                            <span class="logo-school"><img width="20" height="20" src="https://images1.content-hci.com/hca-cont/img/flags/crs_flg/flgb-93.png"></span>
                            <span class="grey">Nhật Bản</span>
                        </div>
                        <div class="count-view">
                            <i class="fa fa-eye"></i>
                            <span class="caps">6561 LƯỢT XEM</span>
                        </div>
                        <p class="mt5 fleft grey">Khóa học tiếng Anh hiện có</p>
                        <p class="mt5 fleft">
                            Được thành lập năm 1931, Đại học Osaka năm trong 7 trường Đại học Quốc gia Nhật Bản. Trường có hệ thống thư viện, 5 cơ sở nghiên cứu và các khoa với chất lượng đào tạo rất...
                        </p>
                        <div class="clear-fix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .img-top {
        height: 125px;
        text-align: center;
        line-height: 125px;
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .logo-school {
        margin: 0 5px;
        float: left;
    }
    h4{
        padding:10px 2px;
    }
    .caps {
        text-transform: uppercase;
    }

    .title-card {
        padding: 10px 0;
    }

    .inner-card {
        margin: 20px 10px;
        padding: 68px 15px;
        /* height: 521px; */
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,0.125);
        border-radius: .25rem;
    }
    hr.star-dark:after{
        background: #eee;
    }
</style>

