
@{
    ViewBag.Title = "DanhSachTruong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-white" style="padding:40px 0;">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Khóa học của chúng tôi</h2>
        <hr class="star-dark mb-5">
        <div class="row">

            <div class="col-xl-4 col-sm-6 col-lg-4 card">
                <div class="inner">
                    <a class="pr_rslt sr nrmtab" href="https://www.hotcourses.vn/study/japan/school-college-university/university-of-tokyo/417820/international.html">
                        <div class="pr_hd">
                            <div class="pr_lgo">
                                <img alt="University of Tokyo" src="https://images7.content-hci.com/commimg/myhotcourses/institution/myhc_191632.jpg" class=" lazy-loaded">
                            </div>
                            <div class="sr_nam">
                                <h2>University of Tokyo</h2>
                                <span class="flg_sc">
                                    <img width="20" height="20" src="https://images1.content-hci.com/hca-cont/img/flags/crs_flg/flgb-93.png">
                                </span>
                                <span class="grey">Nhật Bản</span>
                            </div>
                            <span class="vw mt5 grey">
                                <i class="fa fa-eye"></i>
                                <span class="caps">18248 LƯỢT XEM</span>
                            </span>
                            <p class="mt5 flft grey">Khóa học tiếng Anh hiện có</p>
                            <p class="mt5 flft">Trường Đại học Tokyo, được thành lập năm 1990, là trường Đại học nghiên cứu đứng đầu Nhật Bản trong số 7 trường Đại học Quốc gia. Trường Khoa học và Nhân văn mang đến các...</p>
                            <div id="match_text0" class="hldr mt15">
                                <div id="match_id0"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-lg-4 card">
                <div class="inner">
                    <a class="pr_rslt sr nrmtab" href="https://www.hotcourses.vn/study/japan/school-college-university/university-of-tokyo/417820/international.html">
                        <div class="pr_hd">
                            <div class="pr_lgo">
                                <img alt="University of Tokyo" src="https://images7.content-hci.com/commimg/myhotcourses/institution/myhc_191632.jpg" class=" lazy-loaded">
                            </div>
                            <div class="sr_nam">
                                <h2>University of Tokyo</h2>
                                <span class="flg_sc">
                                    <img width="20" height="20" src="https://images1.content-hci.com/hca-cont/img/flags/crs_flg/flgb-93.png">
                                </span>
                                <span class="grey">Nhật Bản</span>
                            </div>
                            <span class="vw mt5 grey">
                                <i class="fa fa-eye"></i>
                                <span class="caps">18248 LƯỢT XEM</span>
                            </span>
                            <p class="mt5 flft grey">Khóa học tiếng Anh hiện có</p>
                            <p class="mt5 flft">Trường Đại học Tokyo, được thành lập năm 1990, là trường Đại học nghiên cứu đứng đầu Nhật Bản trong số 7 trường Đại học Quốc gia. Trường Khoa học và Nhân văn mang đến các...</p>
                            <div id="match_text0" class="hldr mt15">
                                <div id="match_id0"></div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col-xl-4 col-sm-6 col-lg-4 card">
                <div class="inner">
                    <img src="~/Assets/client/img/course/n3.png" />
                    <div class="card-body">
                        <a href="#" class="btn btn-primary stretched-link" data-toggle="modal" data-target="#exampleModal">Đăng ký ngay</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-sm-6 col-lg-4 card">
                <div class="inner">
                    <img src="~/Assets/client/img/course/n2.png" />
                    <div class="card-body">
                        <a href="#" class="btn btn-primary stretched-link" data-toggle="modal" data-target="#exampleModal">Đăng ký ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-lg-4 card">
                <div class="inner">
                    <img src="~/Assets/client/img/course/n4_n5.png" />
                    <div class="card-body">
                        <a href="#" class="btn btn-primary stretched-link" data-toggle="modal" data-target="#exampleModal">Đăng ký ngay</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-6 col-lg-4 card">
                <div class="inner">
                    <img src="~/Assets/client/img/course/n5_n3.png" />
                    <div class="card-body">
                        <a href="#" class="btn btn-primary stretched-link" data-toggle="modal" data-target="#exampleModal">Đăng ký ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .pr_lgo.uni, .pr_lgo {
        height: 125px;
        text-align: center;
        line-height: 125px;
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
    }
    .pr_rslt {
        background: #fff;
        padding: 19px;
        cursor: pointer;
        color: #464646;
        min-height: 420px;
    }
</style>

