
@{
    ViewBag.Title = "KinhNghiem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="news">
    <div class="container" style="padding:50px 0">
        <div class="text-center">
            <h3 class="thread">OUR EXPERIENCE</h3>
            <img src="images/100x12.png" alt="">
        </div>
        <div class="main-news">
            <div class="row">
                <div class="col6">
                    <div class="inner">
                        <img src="~/Assets/client/img/sensei/ssDung.JPG" />
                    </div>
                </div>
                <div class="col6">
                    <div class="inner">
                        <article>
                            <h4 class="news-title">DONEC VARIUS SODALES ORCI</h4>
                            <p>Donec varius sodales orci. Class aptent taciti sociosqu torquent, per inceptos himenaeos. End of content. Donec varius sodales orci. Class aptent taciti sociosqu torquent, per inceptos himenaeos. Donec varius sodales orci.Donec varius sodales orci. Class aptent taciti sociosqu torquent, per inceptos himenaeos. End of content. Donec varius sodales orci. Class aptent taciti sociosqu torquent, per inceptos himenaeos. Donec varius sodales orci.</p>
                            <div class="readmore">
                                <a href="#">READ MORE</a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="col6">
                    <div class="inner">
                        <article>
                            <h4 class="news-title">DONEC VARIUS SODALES ORCI</h4>
                            <p>Donec varius sodales orci. Class aptent taciti sociosqu torquent, per inceptos himenaeos. End of content. Donec varius sodales orci. Class aptent taciti sociosqu torquent, per inceptos himenaeos. Donec varius sodales orci.Donec varius sodales orci. Class aptent taciti sociosqu torquent, per inceptos himenaeos. End of content. Donec varius sodales orci. Class aptent taciti sociosqu torquent, per inceptos himenaeos. Donec varius sodales orci.</p>
                            <div class="readmore">
                                <a href="#">READ MORE</a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col6">
                    <div class="inner">
                        <img src="~/Assets/client/img/sensei/ssHong.JPG" />
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

