
@{
    ViewBag.Title = "Knowledge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <article>
        <div class="body-page study-space">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 breadcrumb">
                        <div class="col-lg-6"><a href="Home/Index">Trang chủ</a> &#47; Tài liệu</div>
                        <form class="search-video-form col-lg-6" action="https://saki.edu.vn/tai-lieu/tim-kiem" method="GET">
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="text" name="k" class="form-control" placeholder="Tài liệu" value="">
                                    <input type="submit" value="Tìm" class="btn-submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 ">
                        <div class="row box-type-1">
                            <div class="col-lg-4">
                                <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdrive.google.com%2Fdrive%2Ffolders%2F0B3_yF4oLRLiifmtuZFlFVDM0THBSTnViOXc1OEhYa2tjZWR0eFR4QW9hSk92VkY5NFp5Y3c%3Fusp%3Dsharing%26fbclid%3DIwAR26yj-i1zJYPPQ_ws9aPP6zTVH6RQQpyf4j1XWfjxOvE7stTlkdIOD33V0&h=AT3WgGnjEloxiMTGyy8iviwsiosdB2O4g-KvbkINGXQRRzyay6PD3aAhJ5NEW1VsKR8ESGjCHh_YvWnKN_UnOK7POyKQwTKeo_1xkuO8zNAlA60ULX_nIPtHGBs451X0yBvQIg" class="img-box">
                                    <img src="~/Assets/client/img/course/n4.png" />
                                </a>
                            </div>
                            <div class="col-lg-8">
                                <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdrive.google.com%2Fdrive%2Ffolders%2F0B3_yF4oLRLiifmtuZFlFVDM0THBSTnViOXc1OEhYa2tjZWR0eFR4QW9hSk92VkY5NFp5Y3c%3Fusp%3Dsharing%26fbclid%3DIwAR26yj-i1zJYPPQ_ws9aPP6zTVH6RQQpyf4j1XWfjxOvE7stTlkdIOD33V0&h=AT3WgGnjEloxiMTGyy8iviwsiosdB2O4g-KvbkINGXQRRzyay6PD3aAhJ5NEW1VsKR8ESGjCHh_YvWnKN_UnOK7POyKQwTKeo_1xkuO8zNAlA60ULX_nIPtHGBs451X0yBvQIg">
                                    Tài liệu & Đề thi JLPT N4
                                </a>
                                <div class="summary-box">
                                    <p>Hướng dẫn học bảng chữ c&aacute;i Hiragana d&agrave;nh cho người mới bắt đầu. Gi&uacute;p bạn khởi đầu h&agrave;nh tr&igrave;nh tiếng Nhật thật vững chắc.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="row box-type-1">
                            <div class="col-lg-4">
                                <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdrive.google.com%2Fdrive%2Ffolders%2F0B3_yF4oLRLiifjd4Tm45ckJXU2k1VVZ5TU9QeVZOa0VZS0FsdGV4OWpFRHQ2T2NuckQyNGM%3Fusp%3Dsharing%26fbclid%3DIwAR1jd506-pF-xGX9yYBGdfncG6F-GIn_eGfUEcF6Z-hS52i7Yj6tMDdtHi4&h=AT3WgGnjEloxiMTGyy8iviwsiosdB2O4g-KvbkINGXQRRzyay6PD3aAhJ5NEW1VsKR8ESGjCHh_YvWnKN_UnOK7POyKQwTKeo_1xkuO8zNAlA60ULX_nIPtHGBs451X0yBvQIg" class="img-box">
                                    <img src="~/Assets/client/img/course/n2.png" />
                                </a>
                            </div>
                            <div class="col-lg-8">
                                <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdrive.google.com%2Fdrive%2Ffolders%2F0B3_yF4oLRLiifjd4Tm45ckJXU2k1VVZ5TU9QeVZOa0VZS0FsdGV4OWpFRHQ2T2NuckQyNGM%3Fusp%3Dsharing%26fbclid%3DIwAR1jd506-pF-xGX9yYBGdfncG6F-GIn_eGfUEcF6Z-hS52i7Yj6tMDdtHi4&h=AT3WgGnjEloxiMTGyy8iviwsiosdB2O4g-KvbkINGXQRRzyay6PD3aAhJ5NEW1VsKR8ESGjCHh_YvWnKN_UnOK7POyKQwTKeo_1xkuO8zNAlA60ULX_nIPtHGBs451X0yBvQIg">
                                    Tài liệu & Đề thi JLPT N2
                                </a>
                                <div class="summary-box">
                                    <p>Hướng dẫn học bảng chữ c&aacute;i Hiragana d&agrave;nh cho người mới bắt đầu. Gi&uacute;p bạn khởi đầu h&agrave;nh tr&igrave;nh tiếng Nhật thật vững chắc.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="row box-type-1">
                            <div class="col-lg-4">
                                <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdrive.google.com%2Fdrive%2Ffolders%2F0B3_yF4oLRLiifk40YVFtaXBzZnBWMG8xYmkycFlfWHVSRlg1cGxvejd5bDNkVzNsZ082Q3M%3Fusp%3Dsharing%26fbclid%3DIwAR2OR2dRK9HHuzOOyfcyG9Omr_mBbb3ka7TzL9RwCun7YN8awCTVpTKgdks&h=AT3WgGnjEloxiMTGyy8iviwsiosdB2O4g-KvbkINGXQRRzyay6PD3aAhJ5NEW1VsKR8ESGjCHh_YvWnKN_UnOK7POyKQwTKeo_1xkuO8zNAlA60ULX_nIPtHGBs451X0yBvQIg" class="img-box">
                                    <img src="~/Assets/client/img/course/n3.png" />
                                </a>
                            </div>
                            <div class="col-lg-8">
                                <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdrive.google.com%2Fdrive%2Ffolders%2F0B3_yF4oLRLiifk40YVFtaXBzZnBWMG8xYmkycFlfWHVSRlg1cGxvejd5bDNkVzNsZ082Q3M%3Fusp%3Dsharing%26fbclid%3DIwAR0WP2APgN2xWLLctWs-oLARddnKGdYvO4IuhbqEWxx49sOSyNXxf8KAIso&h=AT3PcSplFjByPh8EU11ljPwhZZXiSnuVDY2SUbCaefjgY-kNI7LvYsTyFCSnSITzaWVF5ZoLWWkLFEqmlKkrYm0_miAamD1fOZbT4_DaZYuQX5shBE9IhbfH_RJuOW1n8wSyAg">
                                    Tài liệu & Đề thi JLPT N3
                                </a>
                                <div class="summary-box">
                                    <p>Bộ t&agrave;i liệu d&agrave;nh cho người mới bắt đầu chương tr&igrave;nh N3, người đang &ocirc;n tập v&agrave; luyện đề N3.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="row box-type-1">
                            <div class="col-lg-4">
                                <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdrive.google.com%2Fdrive%2Ffolders%2F0B3_yF4oLRLiifmJ5S0kySGhGTk45ZmtDQ0p6c0JYdUM5N2IwWHFLMVlhRzZFSmNmU2NLVEU%3Fusp%3Dsharing%26fbclid%3DIwAR0BqLk7nb0ofqavhzawqIUZXLdOo1sL1mc7_0y0-Nx6cOWzlMJcYEBo5Io&h=AT3PcSplFjByPh8EU11ljPwhZZXiSnuVDY2SUbCaefjgY-kNI7LvYsTyFCSnSITzaWVF5ZoLWWkLFEqmlKkrYm0_miAamD1fOZbT4_DaZYuQX5shBE9IhbfH_RJuOW1n8wSyAg" class="img-box">
                                    <img src="~/Assets/client/img/course/n5.png" />
                                </a>
                            </div>
                            <div class="col-lg-8">
                                <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdrive.google.com%2Fdrive%2Ffolders%2F0B3_yF4oLRLiifmJ5S0kySGhGTk45ZmtDQ0p6c0JYdUM5N2IwWHFLMVlhRzZFSmNmU2NLVEU%3Fusp%3Dsharing%26fbclid%3DIwAR3Ez7RyPUK-RJRfHjw5IjCy8BYmvjja-Iqch73oRqyANMAs8v4Y7hw-tng&h=AT3WgGnjEloxiMTGyy8iviwsiosdB2O4g-KvbkINGXQRRzyay6PD3aAhJ5NEW1VsKR8ESGjCHh_YvWnKN_UnOK7POyKQwTKeo_1xkuO8zNAlA60ULX_nIPtHGBs451X0yBvQIg">
                                    Tài liệu & Đề thi sơ cấp N5
                                </a>
                                <div class="summary-box">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </article>
</section>
<style>
    .box-type-1 {
        margin: 10px !important;
        padding: 10px !important;
    }
</style>