
@{
    ViewBag.Title = "Knowledge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <article>
        <div class="body-page study-space">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 breadcrumb">
                        <div class="col-lg-6"><a href="Home/Index">Trang chủ</a> &#47; Tài liệu</div>
                        <form class="search-video-form col-lg-6" action="https://saki.edu.vn/tai-lieu/tim-kiem" method="GET">
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="text" name="k" class="form-control" placeholder="Tài liệu" value="">
                                    <input type="submit" value="Tìm" class="btn-submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 ">
                        <div class="row box-type-1">
                            <div class="col-lg-4">
                                <a href="https://saki.edu.vn/tai-lieu/tai-lieu-n3" class="img-box">
                                    <img src="~/Assets/client/img/course/n3.png" />
                                </a>
                            </div>
                            <div class="col-lg-8">
                                <a href="https://saki.edu.vn/tai-lieu/tai-lieu-n3">
                                    Tài liệu & Đề thi JLPT N1
                                </a>
                                <div class="summary-box">
                                    <p>Hướng dẫn học bảng chữ c&aacute;i Hiragana d&agrave;nh cho người mới bắt đầu. Gi&uacute;p bạn khởi đầu h&agrave;nh tr&igrave;nh tiếng Nhật thật vững chắc.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="row box-type-1">
                            <div class="col-lg-4">
                                <a href="https://saki.edu.vn/tai-lieu/tai-lieu-n4" class="img-box">
                                    <img src="~/Assets/client/img/course/n2.png" />
                                </a>
                            </div>
                            <div class="col-lg-8">
                                <a href="https://saki.edu.vn/tai-lieu/tai-lieu-n4">
                                    Tài liệu & Đề thi JLPT N2
                                </a>
                                <div class="summary-box">
                                    <p>Hướng dẫn học bảng chữ c&aacute;i Hiragana d&agrave;nh cho người mới bắt đầu. Gi&uacute;p bạn khởi đầu h&agrave;nh tr&igrave;nh tiếng Nhật thật vững chắc.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="row box-type-1">
                            <div class="col-lg-4">
                                <a href="https://saki.edu.vn/tai-lieu/tai-lieu-n5" class="img-box">
                                    <img src="~/Assets/client/img/course/n3.png" />
                                </a>
                            </div>
                            <div class="col-lg-8">
                                <a href="https://saki.edu.vn/tai-lieu/tai-lieu-n5">
                                    Tài liệu & Đề thi JLPT N3
                                </a>
                                <div class="summary-box">
                                    <p>Bộ t&agrave;i liệu d&agrave;nh cho người mới bắt đầu chương tr&igrave;nh N3, người đang &ocirc;n tập v&agrave; luyện đề N3.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="row box-type-1">
                            <div class="col-lg-4">
                                <a href="https://saki.edu.vn/tai-lieu/tai-lieu-nhap-mon" class="img-box">
                                    <img src="~/Assets/client/img/course/n4_n5.png" />
                                </a>
                            </div>
                            <div class="col-lg-8">
                                <a href="https://saki.edu.vn/tai-lieu/tai-lieu-nhap-mon">
                                    Tài liệu & Đề thi sơ cấp N5-N4
                                </a>
                                <div class="summary-box">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </article>
</section>
<style>
    .box-type-1 {
        margin: 10px !important;
        padding: 10px !important;
    }
</style>