
@{
    ViewBag.Title = "TuyenKySu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="developer background-grey">
    <div class="container">
        <div class="text-center">
            <h3 class="thread">Làm kỹ sư Nhật cùng 3 chàng ngốc</h3>
            <img src="~/Assets/client/img/sensei/100x12.png" />
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="inner">
                    <div class="avt">
                        <img id="myImg1" class="myImg" src="~/Assets/client/img/DonXuatKhau/1.jpg" alt="Đơn xuất khẩu kỹ sư"/>
                    </div>
                    <div class="about text-center">
                        <h4 class="name">Tuyển dụng thợ mộc</h4>

                    </div>
                </div>
                <div id="myModal1" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption1" class="caption"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="inner">
                    <div class="avt">
                        <img id="myImg2" class="myImg" src="~/Assets/client/img/DonXuatKhau/2.jpg" alt="Đơn xuất khẩu kỹ sư" />
                    </div>
                    <div class="about text-center">
                        <h4 class="name">Tuyển dụng kỹ sư Ô tô</h4>

                    </div>
                </div>
                <div id="myModal2" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img02">
                    <div id="caption2" class="caption"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="inner">
                    <div class="avt">
                        <img id="myImg3" class="myImg" src="~/Assets/client/img/DonXuatKhau/3.png" alt="Đơn xuất khẩu kỹ sư" />
                    </div>
                    <div class="about text-center">
                        <h4 class="name">Tuyển dụng kỹ sư</h4>
                    </div>
                </div>
                <div id="myModal3" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img03">
                    <div id="caption3" class="caption"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

